<div class="container-fluid machine">
  <div class="row">
    <h1>{{ctrl.prettyName}}</h1>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <highchart config="ctrl.current"></highchart>
      <highchart config="ctrl.daily"></highchart>
      <highchart config="ctrl.weekly"></highchart>
    </div>
    <div class="col-lg-4 kpis">
      <h3>Downtime</h3>
      <div class="col-xs-3 kpi">OFF<br><span class="large">7:59</span></div>
      <div class="col-xs-3 kpi">IDLE<br><span class="large">0:15</span></div>
      <div class="col-xs-3 kpi">ON<br><span class="large">2:13</span></div>
      <div class="col-xs-3 kpi">UNCLEAR<br><span class="large">10:13</span></div>
      <div class="col-xs-12 error-log">
        <h3>Error Log</h3>
        <ul>
          <li>5.12 16:04: Lorem ipsum</li>
          <li>5.12 12:59: Lorem ipsum</li>
          <li>5.12 6:00: Lorem ipsum</li>
          <li>4.12 12:00: Lorem ipsum</li>
          <li>2.12 2:00: Lorem ipsum</li>
        </ul>
      </div>
    </div>

  </div>
</div>
